<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edges"> 
    <title>Drag and Drop</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <main>
        <div class="hero">
            <div class="wrapper">
                <ul class="list">
                    <li class="list__caption">Planned</li>
                    <li class="list__caption">In dev</li>
                    <li class="list__caption">QA</li>
                    <li class="list__caption">Production</li>
                    <li class="list__cell js-cell">
                        <div class="list__card js-card" draggable="true">
                            <div class="list__card-header">
                                task title
                            </div>
                            <div class="list__card-info">
                                task description
                            </div>
                        </div>
                    </li>
                    <li class="list__cell js-cell"></li>
                    <li class="list__cell js-cell"></li>
                    <li class="list__cell js-cell"></li>
                </ul>
            </div>
        </div>
    </main>

    <script src="main.js" type="text/javascript"></script>
</body>
</html>