<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Moodle Quiz XHTML Export</title>
<style type="text/css">
body {
     font-family: verdana, helvetica, sans-serif;
     background-color: #fff;
     color: #000;
 }
 
 .question {
     border: 1px solid #ddd;
     margin: 5px;
     padding: 3px;
 }
 
 .question h3 {
     font-weight: normal;
     font-size: 125%;
 }
 
 .question ul {
     list-style-type: none;
 }
</style>
</head>
<body>
<form action="...REPLACE ME..." method="post">


<!-- question: 21  name: erergerg -->
<div class="question">
<h3>erergerg</h3>
<p class="questiontext"><p dir="ltr" style="text-align: left;">effef</p></p>
<!-- export of coderunner type is not supported  -->
</div>



<!-- question: 29  name: найти минимум -->
<div class="question">
<h3>найти минимум</h3>
<p class="questiontext">создайте функцию под названием minnumber(arrayList) который принимает массив и выдает самый маленький число из массива</p>
<!-- export of coderunner type is not supported  -->
</div>



<!-- question: 28  name: простое число -->
<div class="question">
<h3>простое число</h3>
<p class="questiontext"><p dir="ltr" style="text-align: left;">Написать функцию&nbsp;<tt>is_prime</tt>, принимающую 1 аргумент — число от 0 до 1000, и возвращающую True, если оно простое, и False - иначе.<br></p></p>
<!-- export of coderunner type is not supported  -->
</div>



<!-- question: 33  name: Сортировка -->
<div class="question">
<h3>Сортировка</h3>
<p class="questiontext"><p dir="ltr" style="text-align: left;">создайте функцию sortArray(array) который сортирует массив<br></p></p>
<!-- export of coderunner type is not supported  -->
</div>



<!-- question: 31  name: сумма массива -->
<div class="question">
<h3>сумма массива</h3>
<p class="questiontext"><p dir="ltr" style="text-align: left;">создайте функцию sumArray(array) который возвращает сумму массива</p></p>
<!-- export of coderunner type is not supported  -->
</div>



<!-- question: 30  name: Факториал -->
<div class="question">
<h3>Факториал</h3>
<p class="questiontext"><p dir="ltr" style="text-align: left;"><strong>Факториалом числа</strong>&nbsp;называют произведение всех натуральных чисел до него включительно. Например, факториал числа 5 равен произведению 1 * 2 * 3 * 4 * 5 = 120.<br></p><p dir="ltr" style="text-align: left;">создайте функцию factorial(a)&nbsp;<br></p></p>
<!-- export of coderunner type is not supported  -->
</div>



<!-- question: 22  name: ewsfewf -->
<div class="question">
<h3>ewsfewf</h3>
<p class="questiontext"><p dir="ltr" style="text-align: left;">ewfwefew</p></p>
<ul class="multichoice">
  <li><input name="quest_22" type="radio" value="&lt;p dir=&quot;ltr&quot; style=&quot;text-align: left;&quot;&gt;efefef&lt;/p&gt;" /><p dir="ltr" style="text-align: left;">efefef</p></li>
  <li><input name="quest_22" type="radio" value="&lt;p dir=&quot;ltr&quot; style=&quot;text-align: left;&quot;&gt;efef&lt;/p&gt;" /><p dir="ltr" style="text-align: left;">efef</p></li>
  <li><input name="quest_22" type="radio" value="&lt;p dir=&quot;ltr&quot; style=&quot;text-align: left;&quot;&gt;fefef&lt;/p&gt;" /><p dir="ltr" style="text-align: left;">fefef</p></li>
  <li><input name="quest_22" type="radio" value="&lt;p dir=&quot;ltr&quot; style=&quot;text-align: left;&quot;&gt;fefef&lt;/p&gt;" /><p dir="ltr" style="text-align: left;">fefef</p></li>
  <li><input name="quest_22" type="radio" value="&lt;p dir=&quot;ltr&quot; style=&quot;text-align: left;&quot;&gt;fefef&lt;/p&gt;" /><p dir="ltr" style="text-align: left;">fefef</p></li>
</ul>
</div>



<p class="submit">
  <input type="submit" />
</p>
</form>
</body>
</html>
