.navbar {
    background-color: transparent;
    border: 1px solid transparent;
    position: fixed;
    width: 100%;
    transition: all 0.5s;
    z-index: 11;
    color: white;
}

.navbar-bg {
    background-color: white;
    color: black;
}

.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    margin: 0 10px;
}